<div class="flex flex-col justify-between">
    <div class="p-8">
        <h2 class="text-lg font-bold">Shopping bag</h2>
        <hr class="my-5">
        {{ cart | json }}
    </div>
    <div class="bg-slate-300">
        sdfsdette er en test
    </div>
</div>

